* {
    margin:0;
    box-sizing: border-box;
}
/* CSS header */
header {
    height: 70px;
    background-color: #2E3D33;
}

/* CSS 2 cột aside */
aside {
    float: left;
    width: 15%;
}

.left-bar {
    height: 800px;
    background-color:#746A3C ;
}

.right-bar {
    height: 800px;
    background-color: #746A3C ;
    
}

/* CSS content */
article {
    float: left;
    width:70% ;
    height: 800px;
    background-color: black;
    
}

/* CSS footer */
footer {
    clear: both;
    height: 50px;
    background-color: #515136;
}